/* src/BulletPoints.css */
.bullet-points {
    list-style: none;
    padding-left: 830px;
    margin: 20px 0;
  }
  
  .bullet-point {
    display: flex;
    align-items: center;
    margin: 10px 0;
    transition: transform 0.3s ease;
  }
  
  .bullet-point:hover {
    transform: translateX(10px);
  }
  
  .green-tick {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  